<nav class="navbar-inverse bg-primary">
	<nav class="navbar navbar-toggleable-md navbar-light container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" ui-sref="loto.navigation.about">Сет лото (или логотип)</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="loto.navigation.cardsSelection">Карточки</a>
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="loto.navigation.userReview">Отзывы</a>
			</div>
		</div>
	</nav>
</nav>
<div class="container" ui-view>
</div> 